build-aux
autom4te.cache
m4
Makefile
Makefile.in
stamp-h1
libtool
aclocal.m4
autogen.sh
config.h
config.h.in
config.log
config.status
configure
configure.ac
configure.scan
Makefile.am
tad-1.0.tar.gz
tad-1.0.zip
src/.deps
src/Makefile
src/Makefile.in
